name: Update Metadata

on:
  schedule:
    # At 12:00 AM, on day 1 of each month
    - cron: "0 0 1 * *"

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: dart-lang/setup-dart@v1

      - name: Install dependencies
        run: dart pub get

      - name: Fetch LibPhoneNumber Metadata
        run: curl -o resources/data_sources/PhoneNumberMetadata.xml https://raw.githubusercontent.com/google/libphonenumber/master/resources/PhoneNumberMetadata.xml

      - name: Process Metadata
        run: dart resources/data_sources/convert_metadata.dart

      - name: Generate Files
        run: |
          dart pub get
          dart resources/generate_files.dart && dart format lib/src && dart fix --apply

      - name: Commit and Push Updated Files
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "Update Metadata" || echo "Nothing to commit!"
          git push
